@font-face {
    font-family: "EcoFont";
    src: url('ecofont.ttf');
}

html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html{
    display: flex;
    height: 100%;
    width: 100%;
}

body{
    font-family: EcoFont;
    color: white;
    background-color: black;
}

.scroll{
    overflow-y: auto;
}
.article{
    padding: 1em;
}

.annonces{
    border-left: white 1px solid;
    padding: 1em;
}

.footer{
    padding: 1em;
    border-top: white 1px solid;
}




/*Boostrap minimal*/

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-content-spacebetween{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.w-100{
    width: 100%;
}
.w-75{
    width: 75%;
}

.w-25{
    width: 25%;
}

.h-100{
    height: 100%;
}